{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="vertical-nav">
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-fire"></i> Trending</a>
        <a href="#"><i class="fas fa-play"></i> Subscriptions</a>
        <a href="#"><i class="fas fa-history"></i> History</a>
        <a href="#"><i class="fas fa-users"></i> Friends</a>
        <a href="#"><i class="fas fa-cog"></i> Settings</a>
    </div>

    <div class="content">
        <h1>Welcome to the Content Area</h1>
        <p>This is where your main content would go.</p>
    </div>
{% endblock %}
